[submodule "public"]
path = public
url = https://github.com/Corfucinas/corfucinas.github.io.git
[submodule "themes/liva-hugo"]
path = themes/liva-hugo
url = https://github.com/Corfucinas/liva-hugo-theme.git
