/* override styles when printing */
@media print {
  html {
    zoom: unset;
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }
}

@media not screen and (max-width: 767px) {
  html {
    zoom: 2.1;
  }
}

html,
body {
  margin: 0;
  width: auto;
  padding: 0;
  align-content: center;
  background-color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul > li {
  margin: 0;
  padding: 0;
}

body.resume {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-display: swap;
}

body.resume header {
  height: 10.55vh;
  padding: 2.1vh 0;
  border-bottom: 0.24vh solid #f14e40;
  overflow: hidden;
}

body.resume header .intro-container {
  width: 37.5%;
  float: left;
}
body.resume header .intro-container h1 {
  margin: 0;
  padding: 0.09vh 0 0.8vh 1.21vh;
  border-left: 0.6vh solid #374457;
  font-size: 2.75vh;
  font-weight: 500;
  line-height: 3vh;
}

body.resume header .intro-container p.objective {
  margin: 0 0 0 2vh;
  padding: 2px 0 0;
  font-size: 1.23vh;
}
body.resume header .photo-container {
  width: 25%;
  float: left;
  text-align: center;
}
body.resume header .photo-container .photo {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  display: inline-block;
  width: 10.25vh;
  height: 10.25vh;
  border: 1.5px solid #374457;
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-image: url("../images/profile_picture.jpg");
  background-size: auto 100%;
  vertical-align: middle;
}
body.resume header .contact-container {
  width: 37.5%;
  float: right;
}
body.resume header .contact-container ul {
  margin: 0 1vh 0 0;
  padding: 0;
  float: right;
  font-size: 1.23vh;
  list-style: none;
  text-align: right;
}
body.resume header .contact-container ul > li {
  display: flex;
  margin: 0;
  padding: 0;
  float: right;
  clear: both;
  line-height: 2.5vh;
}
body.resume main {
  width: 100%;
  float: left;
}
body.resume main .column {
  width: 50%;
  float: left;
}
body.resume main .column-right {
  width: 40%;
  padding-right: 5%;
  padding-left: 5%;
}
body.resume main .column-right h2 {
  margin: 0;
  padding-left: 0;
}
body.resume main .column-right .heading {
  padding: 0;
  border: none;
  text-align: left;
}
body.resume main .column-right .body {
  padding: 0;
}
body.resume main h2 {
  margin: 0;
  padding: 1.435vh 0 1.435vh 4vh;
  font-size: 1.75vh;
  font-weight: 800;
  line-height: 4.62vh;
  line-height: 1.75vh;
}
body.resume main ul > li:first-child .heading {
  margin-top: 0;
  text-align: left;
}
body.resume main .heading {
  margin: 1.15vh 0 0;
  padding: 0 0 0 1vh;
  border-left: 0.6vh solid #f14e40;
}
body.resume main .heading span {
  display: block;
}
body.resume main .heading span.super-left {
  width: 50%;
  float: left;
  color: #f14e40;
  font-size: 1.23vh;
  text-align: left;
}
body.resume main .heading span.super-right {
  width: 50%;
  float: right;
  color: #f14e40;
  font-size: 1.23vh;
  text-align: right;
}
body.resume main .heading span.title {
  clear: both;
  font-size: 1.3vh;
  font-weight: 600;
  line-height: 1.6vh;
  text-align: left;
}
body.resume main .heading span.sub-title {
  font-size: 1.3vh;
  line-height: 1.6vh;
  text-align: justify;
}
body.resume main .body {
  margin: 0;
  padding: 0.7vh 0 0 4vh;
  text-align: justify;
}
body.resume main .body span.title {
  display: block;
  margin: 0;
  padding: 0;
  color: #f14e40;
  font-size: 1.3vh;
  text-align: justify;
}

body.resume main .body p {
  margin: 0;
  padding: 0;
  font-size: 1.23vh;
  text-align: justify;
}

body.resume main .education h2 {
  padding-top: 2vh;
}
body.resume main .education ul > li:first-child .heading {
  margin: 0;
}
body.resume main .education .heading {
  margin: 2vh 0 0;
}
body.resume main .skills-and-competences {
  padding: 0;
}
body.resume main .skills-and-competences > div {
  display: inline-block;
  width: 100%;
  height: 3vh;
  clear: both;
  vertical-align: super;
  text-align: justify;
}
body.resume main .skills-and-competences > div.scale {
  height: 2vh;
}
body.resume main .skills-and-competences > div.scale .label {
  display: block;
  width: 37.5%;
  margin: 0;
  padding: 0 2.5% 0 0;
  float: left;
  font-size: 1.23vh;
  text-align: right;
}
body.resume main .skills-and-competences > div.scale .progress-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 60%;
  height: 1vh;
  margin: 0;
  padding: 0;
  float: left;
  border: none;
  border-right: 1px solid #f14e40;
}
body.resume main .skills-and-competences > div.scale .progress-bar > span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 33%;
  float: left;
  border-left: 1px solid #f14e40;
  background-color: transparent;
}
body.resume main .skills-and-competences .label {
  display: block;
  /* width: 37.5%; */
  margin: 0 0 0 0.7vh;
  padding: 0 2.5% 0 0;
  float: left;
  text-align: right;
  font-size: 1.23vh;
}
body.resume main .skills-and-competences .progress-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 60%;
  height: 1.4vh;
  margin: 0;
  padding: 0;
  float: right;
}
body.resume main .skills-and-competences .progress-bar span {
  display: block;
  height: 100%;
  background-color: #f14e40;
}
body.resume main .achievements-and-certificates h2 {
  padding-bottom: 1vh;
}
body.resume main .achievements-and-certificates > div {
  padding: 0.3vh 0;
}
body.resume main .achievements-and-certificates > div .heading {
  margin: 0;
  padding: 0;
  font-size: 1.23vh;
}
body.resume main .achievements-and-certificates > div .body {
  margin: 0;
  padding: 0;
  font-size: 1.23vh;
}
body.resume main .languages > div {
  margin-bottom: 1vh;
  font-size: 1.23vh;
}
body.resume main .languages > div span {
  display: block;
  float: left;
  width: 33%;
}
body.resume main .interests {
  font-size: 1.23vh;
  line-height: 1.5vh;
  text-align: left;
}
body.resume main .interests span {
  word-spacing: 0.2vh;
}

body {
  font-size: 1.23vh;
}
